/ModernCoding/sample/
/ModernCoding/standard-layout/images/
/ModernCoding/standard-layout/css/reset.css
/ModernCoding/singlepage-layout/css/normalize.css
/ModernCoding/singlepage-layout/images/
/ModernCoding/singlepage-layout/lib/
